.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

section{
    background-color: rgb(64, 140, 90);
    margin: 3% auto;
    padding: 7%;
    border: solid black 2px;
    border-radius: 10px;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

section:hover{
    box-shadow: 7px 8px 18px 3px rgba(0,0,0,0.6);
}


