@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

/* Media Query for small devices */
@media screen and (max-width: 600px){
   
    header{
        background-color: #D5B495;
        padding: 3px;
    }

    header .content {

        align-items: center;
        justify-content: space-between;
        background-color: #D5B495;
    }

    .image-logo{
        order: 0;
        width: 200px;
        margin: 5px;
        border-radius: 20px;
    }

    .title{
        order: 0;
        font-size: 11px;
    }

    .socialMedia img{
        width: 35px;
        margin: auto 2px;
        border-radius: 10px;
    }

    .socialMedia,
    .links {
      display: flex;
      align-items: center;
      gap: 5px;
      order: 0;
    }

    .date {
        border: 2px solid black;
        text-align: center;
        margin: 20px;
        padding: 15px;
        border-radius: 20px;
    }

    /*       HAMBURGER MENU        */
    #navbar{
        display: none;
        flex-direction: column;
    }
    
    #navbar.active{
        display: flex;
    }
    
    #menu-open{
        display: none;
    }
    
    #menu-open.active{
        display: block;
    }
    
    #menu-close{
        display: none;
    }

    #menu-close.active{
        display: block;
    }
    
    header ul{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    nav{
        width: 100%;
        grid-column: 1/5;

    }

    nav ul{
        padding-inline-start: 0px;
    }

    nav ul li{
        list-style: none;
        width: 100%;
        text-align: center;
        text-align: left;
    }

    nav ul li a{
        width: 100%;
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
        padding: 1rem;
    }
        
    nav ul li a:hover{
            background-color: black;
            color: white;
    }

    #menu-button{
        background-color: #9a7250;
        border-color: transparent;
        border-radius: 5px;
        margin: 3px;
        display: block;
    }



    /*          Main             */

    .main-area {
        grid-template-areas:
          "h h"
          "e e"
          "w w"
          "r r"
          "s s";
      }

    main section {
        background-color:#d5b495a4;
    }


    .hero{
        
        grid-area: h;
    }
        
    .newRelease {
        grid-area: r;
    }

    .Spotlight {
        grid-area: s;
    }

    .spotlight3 {
        display: none;
    }



     .join {
        grid-area: j;
    }

    .event {
        grid-area: e;
    }

    .weather {
        grid-area: w;
    }



    section{
        border-radius: 20px;
        border-color: transparent;
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
    }

/*  
    .spotlight1, .spotlight2 {
        border-style: ridge;
        border-color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    } */

    .spotlight3 {
        display: none;
    }
    .Spotlight img{
        width: 30%;
        margin: auto;

    }



     .join {
        display: none;
    }

    .location {
        text-decoration: none;
        color: white;
    }
    .loc-icon {
        width: 15px;
    }
    .site {
        text-decoration: none;
    } 



    footer {
        text-align: center;
        background-color: #D5B495;

    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    footer img{
        width: 200px;
    }

    footer p {
        margin: 0;
        padding: 5px;
    }


    footer div {
        max-width: 100%;
        margin: 0 auto;
    }
    .footer-main{
        display: flex;
        /* align-items: center; */
        text-align: center;
        /* justify-content: center; */
        flex-direction: column;

    }

    .main-info-footer{
        text-align: center;
    }

    .discover img:hover{
        filter: saturate(0%)
    }



        
} 