@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

/* Media Query for small devices */
@media (max-width: 450px) {

    header{
        background-color: #D5B495;
        padding: 3px;
    }

    header .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #D5B495;
    }

    .image-logo{
        order: 0;
        width: 100px;
        margin: 5px;
        border-radius: 20px;

    }

    .title{
        order: 0;
        font-size: 13px;
    }

    .socialMedia img{
        width: 35px;
        margin: auto 2px;
        border-radius: 10px;
    }

    .socialMedia,
    .links {
      display: flex;
      align-items: center;
      gap: 5px;
      order: 0;
    }

    .date {
        border: 2px solid black;
        text-align: center;
        margin: 20px;
        padding: 15px;
        
    }

    .menu-button{
        order: 2;
        border-radius: 10px;
    }

    main{
           
        margin: 0 auto;
    }
      
    section {
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
    }

    footer{
        text-align: center;
    }

    footer img{
        width: 100px;
    }

    #navbar{
        display: none;
    }
    
    #navbar.active{
        display: flex;
    }
    
    #menu-open{
        display: block;
    }
    
    #menu-open.active{
        display: none;
    }
    
    #menu-close{
        display: none;
    }
    #menu-close.active{
        display: block;
    }
/* 
    nav ul li {
        list-style: none; */
        /* width: 100%; */
        /* text-align: left; */
    /* } */

    /* nav ul li a { */
        /* display: block; */
        /* text-decoration: none;
        color: black;
        padding: .5rem;
        text-align: center;
    }
    nav ul li a:hover {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 25px;
    }
         */

/* 
    header ul li a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 1rem;
    } */
/* 
    #navbar.active{
        display: flex;
    }

    nav ul li{
        padding: 0 40px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    }

    nav ul li:hover {
        background-color: black;
        color: white;
        padding: 0 40px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    } */
    /* nav ul li a { 
        display: block;
        text-decoration: none;
        color: black;
        padding: .5rem;
        text-align: center;
    } */

    /* nav ul li a:hover {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 25px;
    }  */

    /* nav{
        padding: 0 40px;
        height: 80px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #navbar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 80px;
        right: 0;
        display: grid;
        place-items: center;
        clip-path: circle(0% at top left);
        transition: clip-path .4s;
        background-color: blanchedalmond;
    }

    .nav-link{
        text-decoration: none;
        color: black;
    }

    #navbar:target{
        clip-path: circle(150% at top left);
    } */

    

    header ul{
        display: flex;
        flex-direction: column;
        position: relative;
    
    }

    
    nav ul li{
        list-style: none;
        width: 100%;
        text-align: center;
        text-align: left;
    }

    nav ul li a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 1rem;
    }


    nav ul{
        padding-inline-start: 0px;
    }
        
        

    nav ul li a:hover{
            background-color: black;
            color: white;
    }

    nav{
        order: 4;
        width: 100%;
    }
        
} 