@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.content{
    width: 800px;   
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    background-color: #8dbfd061;
    min-width: 800px;
}

header{
    display: flex;
    align-items: center;
    background-color: #FFDBDA;
    border-radius: 1rem;
    border: 2px black solid;
    text-align: center;
}


header img{
    margin: 1rem 2.7rem;
    height: 130px;
    width: 90px;
    border-radius: 1rem;
}

header div:nth-child(2){
    width: 60%;
    font-size: 1.7rem
}

main h2{
    text-align: center;
    font-size: 1.6rem;
}
ul li{
    padding: .5rem;
    background-color: #FFDBDA;
    margin-right: 2rem;

}

ul li:nth-child(even){
    padding: .5rem;
    background-color: #8dbfd061;
}
a{
    color: black;
    text-decoration: none;
}

footer{
    align-items: center;
    background-color: #FFDBDA;
    border: 2px black solid;
    text-align: center;
    border-radius: .5rem;
}